---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I have supported the following courses at UC San Diego.

{% assign teaching_entries = site.teaching | sort: "sort_order" %}
{% for post in teaching_entries %}
## [{{ post.title }}]({{ post.url | relative_url }})

{% if post.summary %}{{ post.summary }}{% endif %}

{% if post.instructor %}**Professor:** {{ post.instructor }}{% endif %}

{% if post.quarters %}**Quarters taught:** {{ post.quarters }}{% endif %}

{% endfor %}
